<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body id='landing'>
  <div class='content'>
  <header>
   <a href="https://qkrishi.com"> <img id="header-img" src="https://img1.wsimg.com/isteam/ip/4da5cd19-a494-4ae2-807b-a3cf3fe0037b/Transparent.png/:/rs=w:476,h:200,cg:true,m/cr=w:476,h:200/qt=q:95">
    <nav>
       <ul>
          <li><a href="about.html">About</a></li>
          <li><a href="dash.html">Dashboard</a></li>
        </ul>
      </header>
    
  </header>
  <main>
    <h1>EiTMoS </h1>
    <h2>The Electricty Police every Power Company needs </h2>
  
    <section id="description">
      <div id="p1">
        EiTMoS is the ultimate electricity theft monitoring system which uses advanced quantum algorithms to predict suspicious activity in real time.This software is easy to use which will give authorities live count of suspicious cases with details.
      </div>
      
      <form action="dash.html" name="form1" id="form1">
         <input type="submit" id="run" value="Dashboard"> </form>

        </section>
   </main>
  
  <div id="disclaimer">
      This software is in beta stage.
    </div>
  </div>
</body>

</html>
